:root{
    --pink-neon:#ff4081;
    --pink-light:#ff79b0;
    --pink-dark:#c60055;
    --preta: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body { 
    background-color: var(--preta);
    font-family: 'Nunito', sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--pink-light);
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(#00000050,#00000050),url('/img/proposta1.jpg');
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 90px;
}
.titulo {
    font-size: 40px;
}