:root{
    --pink-neon:#ff4081;
    --pink-light:#ff79b0;
    --pink-dark:#c60055;
    --preta: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body { 
    background-color: lightpink;
    font-family: 'Nunito', sans-serif;
    color: white;
}

header {
    background-color: var(--preta)
}

header .logo {
    padding: 10px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--pink-light);
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(#00000050,#00000050),url('/img/proposta1.jpg');
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-weight: bold;
}

.botao {
    background-color: rgba(198, 0, 85, 0.50);
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 100px;
}

.botao:hover{
    background-color: rgb(255, 121, 176, 0.90);
    color: black;
    font-weight: bold;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.corrosel-filmes, .carrosel-filmes2{
    margin-top: 5px;
}

